/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --c_redpink: #fb3b64;
  --c_redpink_dark: #eb476e;
  --c_blue: #07ace6;
  --c_blue_lighter: #07ace6;
  --c_blue_opaque: #07ace629;
  --c_green: #55dfb4;
  --c_dark: #13253b;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.container {
  width: 1124px;
  max-width: 100%;
  margin: auto;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  flex-direction: inherit;
  flex-wrap: inherit;
}
.container.container--wide {
  width: 1352px;
}
.container.container--narrow {
  width: 896px;
}

@media (max-width: 1200px) {
  .container {
    padding: 0 30px;
  }
}
.navigation {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background: white;
  height: 70px;
  z-index: 100;
  box-shadow: 0 3px 6px #00000029;
}

.navigation_logo {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 32px;
  font-weight: 300;
  color: var(--c_blue_lighter);
  line-height: 70px;
  width: 160px;
  text-align: center;
}

.navigation_list {
  display: flex;
  max-width: 550px;
  width: calc(100% - 160px);
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.navigation_link {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 11px;
  display: block;
  text-decoration: none;
  letter-spacing: 3px;
  text-align: center;
  color: #a5a5a5;
  padding: 30px 0;
  margin: 0 20px;
  position: relative;
  text-transform: uppercase;
}
.navigation_link:hover {
  color: black;
}
.navigation_link:hover::before {
  content: "";
  position: absolute;
  height: 0;
  width: calc(100% + 15px);
  border: 2px solid var(--c_blue);
  transform: translate(-13px, 37px);
}

.navigation_burger {
  display: none;
  overflow: hidden;
}
.navigation_burger span {
  width: 20px;
  height: 3px;
  background-color: #07ace6;
  border-radius: 1px;
  margin: 2px;
  display: block;
  transition: 0.5s;
}

@media (max-width: 650px) {
  .navigation {
    flex-direction: column;
    height: 140px;
  }

  .navigation_list {
    width: 100%;
  }
}
@media (max-width: 460px) {
  .navigation {
    height: 70px;
    flex-direction: row;
    padding-left: 20px;
    padding-right: 20px;
  }

  .navigation_burger {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
  }

  .navigation_list {
    position: absolute;
    top: 100%;
    left: 0;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    background-color: white;
    width: 100%;
    box-shadow: 0 3px 6px #00000029, inset 0 3px 6px #00000029;
    transition: 0.5s;
    height: 0px;
    overflow: hidden;
    flex-wrap: nowrap;
  }

  .navigation_link {
    padding: 7px 20px;
    line-height: 15px;
    margin: 0;
    font-size: 0px;
    transition: 0.5s;
  }
  .navigation_link:hover::before {
    display: none;
  }

  .burger_crossed span:first-child {
    transform: translate(0, -100%) scale(1.2) rotate(45deg);
    transform-origin: 0 50%;
  }
  .burger_crossed span:nth-child(2) {
    height: 0;
    transform: scale(0, 0);
  }
  .burger_crossed span:last-child {
    transform: translate(0, 100%) scale(1.2) rotate(-45deg);
    transform-origin: 0 50%;
  }

  .show-menu {
    height: 200px;
    padding: 33px 0;
  }
  .show-menu .navigation_link {
    font-size: 11px;
  }
}
.opening {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding-top: 70px;
  height: calc(100vh - 70px);
  background: url("../assets/background.png") bottom center no-repeat;
  background-size: contain;
}

.opening_row {
  flex: 0.5;
}

.opening_header {
  font-size: 49px;
  line-height: 57px;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
}

.opening_text {
  display: inline-flex;
  font-size: 16px;
  line-height: 22px;
  margin-top: 20px;
  margin-bottom: 38px;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

.opening_button {
  display: inline-block;
  width: 440px;
  height: 67px;
  max-width: 90%;
  border-radius: 40px;
  background: #07ace6;
  text-align: center;
  line-height: 67px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  box-shadow: 5px 10px 14px #07ace629;
  margin-bottom: 200px;
}

@media (max-width: 770px) {
  .opening {
    background-size: auto 30vh;
  }
}
@media (max-width: 650px) {
  .opening {
    height: calc(100vh - 140px);
    padding-top: 0;
  }
}
@media (max-width: 520px) {
  .opening {
    height: calc(100vh - 70px);
    padding-top: 70px;
  }
}
.pricing {
  padding: 100px 0;
}

.pricing_title {
  text-align: center;
  line-height: 42px;
  font-size: 36px;
  font-family: "Raleway", sans-serif;
}

.pricing_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pricing_offer {
  height: 460px;
  width: 370px;
  border: 2px solid;
  margin: 60px 30px;
  border-radius: 18px;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
.pricing_offer.pricing_offer--basic {
  border: 2px solid #fb3b64;
}
.pricing_offer.pricing_offer--professional {
  height: 500px;
  width: 405px;
  border: 2px solid #07ace6;
  box-shadow: 5px 10px 27px #07ace629;
}
.pricing_offer.pricing_offer--premium {
  border: 2px solid #55dfb4;
}

.pricing_offer--basic .pricing_button {
  background: #fb3b64;
}
.pricing_offer--basic .pricing_feature:nth-child(-n+3)::before {
  background: url(../assets/checkmark-yes.svg);
}
.pricing_offer--basic .pricing_feature:nth-child(n+4)::before {
  background: url(../assets/checkmark-no.svg);
}
.pricing_offer--basic .pricing_price {
  color: #fb3b64;
}

.pricing_offer--professional .pricing_button {
  background: #07ace6;
  width: 165px;
}
.pricing_offer--professional .pricing_feature:nth-child(-n+4) {
  margin: 12px;
}
.pricing_offer--professional .pricing_feature:nth-child(-n+4)::before {
  background: url(../assets/checkmark-yes.svg);
}
.pricing_offer--professional .pricing_feature:nth-child(5) {
  margin: 12px;
}
.pricing_offer--professional .pricing_feature:nth-child(5)::before {
  background: url(../assets/checkmark-no.svg);
}
.pricing_offer--professional .pricing_price {
  color: #07ace6;
}

.pricing_offer--premium .pricing_button {
  background: #55dfb4;
}
.pricing_offer--premium .pricing_feature::before {
  background: url(../assets/checkmark-yes.svg);
}
.pricing_offer--premium .pricing_price {
  color: #55dfb4;
}

.pricing_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 40%;
}

.pricing_header {
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  margin-top: 35px;
}

.pricing_price {
  font-size: 46px;
  font-family: "Raleway", sans-serif;
  margin: 14px 0 5px 0;
  font-weight: 300;
  display: block;
}

.pricing_limited {
  font-family: "Raleway", sans-serif;
  font-size: 12px;
  font-weight: bold;
  display: block;
}

.pricing_features {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 60px 0;
}

.pricing_feature {
  position: relative;
  font-family: "Open Sans", sans-serif;
  display: block;
  margin: 10px;
}
.pricing_feature::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 11px;
  height: 11px;
  transform: translate(-180%, 20%);
}

.pricing_button {
  position: absolute;
  content: "Begin";
  top: 100%;
  left: 50%;
  width: 150px;
  height: 50px;
  background: #13253b;
  border-radius: 25px;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  line-height: 50px;
  text-decoration: none;
}

@media (max-width: 870px) {
  .pricing_row {
    flex-direction: column;
  }

  .pricing_offer {
    flex-direction: row;
    justify-content: space-around;
    height: 260px;
    margin: 30px 0;
  }
  .pricing_offer .pricing_wrapper {
    align-items: flex-start;
  }
  .pricing_offer .pricing_header {
    padding-bottom: 10px;
  }
  .pricing_offer .pricing_price {
    padding-bottom: 20px;
  }
  .pricing_offer .pricing_limited {
    padding-bottom: 40px;
  }
  .pricing_offer .pricing_features {
    align-items: flex-start;
  }
  .pricing_offer.pricing_offer--basic {
    height: 300px;
    max-width: 100%;
  }
  .pricing_offer.pricing_offer--professional {
    height: 300px;
    max-width: 110%;
  }
  .pricing_offer.pricing_offer--premium {
    height: 300px;
    max-width: 100%;
  }
}
.stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0;
}

.stats_header {
  font-family: "Raleway", sans-serif;
  font-size: 36px;
  font-weight: normal;
  padding-bottom: 100px;
}

.stats_row {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.stats_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 13px;
}

.stats_icon {
  height: 63px;
  width: 63px;
  position: relative;
  border-radius: 50%;
}

.stats_item--entries .stats_icon {
  background: #fb3b64;
}
.stats_item--entries .stats_icon::after {
  content: "";
  position: absolute;
  width: 63px;
  height: 63px;
  transform: translate(35%, 0);
  background: url("../assets/person.svg") no-repeat center center;
}

.stats_item--seen .stats_icon {
  background: #55dfb4;
}
.stats_item--seen .stats_icon::after {
  content: "";
  position: absolute;
  width: 63px;
  height: 63px;
  transform: translate(35%, 0);
  background: url("../assets/eye.svg") no-repeat center center;
}

.stats_item--posts .stats_icon {
  background: #07ace6;
}
.stats_item--posts .stats_icon::after {
  content: "";
  position: absolute;
  width: 63px;
  height: 63px;
  transform: translate(35%, 0);
  background: url("../assets/catalog.svg") no-repeat center center;
}

.stats_number {
  letter-spacing: 6px;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 800;
  line-height: 20px;
  padding: 13px 0 19px 0;
}

.stats_description {
  color: grey;
  font-size: 17px;
  font-family: "Raleway", sans-serif;
  line-height: 20px;
}

@media (max-width: 700px) {
  .stats {
    padding: 50px 0;
  }

  .stats_header {
    padding-bottom: 25px;
    text-align: center;
  }

  .stats_row {
    flex-direction: column;
  }
}
.benefits {
  background: #f7f7f7;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 80px 0;
}

.benefits_box {
  margin: 20px 0;
  height: 370px;
  width: 100%;
  background: white;
  border: 1px solid #e8e9ed;
  border-radius: 5px;
  display: flex;
  padding: 35px;
  position: relative;
  justify-content: space-between;
}

.benefits_box--first .benefits_description::after {
  content: "";
  position: absolute;
  height: 0;
  width: 300px;
  max-width: 100%;
  bottom: 0;
  left: 0;
  border-radius: 4px;
  border-top: 1px solid #fb3b64;
  box-shadow: 0 0 1px 1px #fb3b64;
}
.benefits_box--first .benefits_content {
  max-width: 45%;
}

.benefits_box--second .benefits_description::after {
  content: "";
  position: absolute;
  height: 0;
  width: 300px;
  max-width: 100%;
  bottom: 0;
  left: 0;
  border-radius: 4px;
  border-top: 1px solid #07ace6;
  box-shadow: 0 0 1px 1px #07ace6;
}
.benefits_box--second .benefits_content {
  max-width: 45%;
}

.benefits_box--small {
  width: 55%;
}
.benefits_box--small .benefits_description::after {
  content: "";
  position: absolute;
  height: 0;
  width: 300px;
  max-width: 100%;
  bottom: 0;
  left: 0;
  border-radius: 4px;
  border-top: 1px solid #55dfb4;
  box-shadow: 0 0 1px 1px #55dfb4;
}

.benefits_box--smallest {
  width: 40%;
  background: #55dfb4;
  padding: 0;
}

.benefits_content {
  max-width: 415px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px 0;
}

.benefits_header {
  font-family: "Raleway", sans-serif;
  font-size: 36px;
  line-height: 42px;
}

.benefits_description {
  font-size: 16px;
  line-height: 20px;
  padding: 30px 0 50px;
  position: relative;
}

.benefits_wrapper {
  max-width: 450px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.benefits_graphics {
  max-width: 385px;
  max-width: 85%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.benefits_image {
  max-width: 100%;
  z-index: 2;
}
.benefits_image.benefits_image--iphone {
  transform: translate(9%, 5%);
}
.benefits_image.benefits_image--trumpet {
  height: 100%;
  width: 100%;
  background: url("../assets/trumpet.png") center center no-repeat;
  background-size: auto 60%;
  transform: translate(-5%, 10%);
}

.benefits_square {
  flex-shrink: 1;
  position: absolute;
  bottom: 0;
  left: 100%;
  width: 51.3%;
  height: 90%;
  border-radius: 41px;
  background: #fb3b64;
  transform: translate(-95%, -30%) matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
}

.benefits_circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 77.9220779221%;
  height: 100%;
  border-radius: 50%;
  background: #07ace6;
  transform: translate(0, -7px);
}

@media (max-width: 700px) {
  .benefits {
    padding: 40px 0;
  }

  .benefits_box {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 400px;
    padding: 10px;
  }
  .benefits_box.benefits_box--small {
    margin-bottom: 0;
    width: 100%;
    height: 260px;
  }
  .benefits_box.benefits_box--smallest {
    margin-top: 0;
    width: 100%;
    height: 200px;
  }
  .benefits_box .benefits_content {
    max-width: 90%;
    width: 90%;
  }

  .benefits_wrapper {
    height: 50%;
    align-items: center;
  }
  .benefits_wrapper:nth-child(2) {
    order: -1;
  }

  .benefits_graphics {
    max-width: 60%;
    margin: 30px;
  }

  .benefits_image .benefits_image--trumpet {
    background-size: auto 90%;
  }

  .benefits_content {
    max-width: 90%;
    width: 90%;
    padding: 0;
  }

  .benefits_header {
    font-size: 30px;
    line-height: 35px;
  }

  .benefits_description {
    padding: 10px 0;
    font-size: calc(10px + 1vw);
  }
  .benefits_description::after {
    content: "";
    position: absolute;
    height: 0;
    width: 300px;
    max-width: 100%;
    bottom: 0;
    left: 0;
    border-radius: 4px;
    border-top: 1px solid none;
    box-shadow: 0 0 1px 1px none;
    display: none;
  }
}
.calc {
  padding: 50px 0;
  background: #f7f7f7;
}

.calc__header {
  font-size: 36px;
  font-family: "Raleway", sans-serif;
  line-height: 42px;
  text-align: center;
  margin-bottom: 50px;
}

.calc__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.calc__column {
  display: flex;
  flex-direction: column;
}

.calc__display {
  width: 45%;
}

.calc__form {
  width: 50%;
  position: relative;
}

.form__input {
  height: 40px;
  margin-bottom: 20px;
  border-radius: 6px;
  border: 1px solid #07ace6;
  padding: 0 25px;
  outline: none;
}

.form__select {
  position: absolute;
  display: none;
  left: 0;
  top: 175px;
  width: 100%;
  height: 105px;
  background-color: white;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #eb476e;
  border-radius: 6px;
  margin: -10px 0 0;
  font-family: "Raleway", sans-serif;
  z-index: 1;
}
.form__select .select__option {
  display: block;
  font-size: 13px;
  line-height: 18px;
  height: 33.33%;
  width: 100%;
  padding: 10px 25px;
}
.form__select .select__option:hover {
  background-color: #eee;
}

.form__row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.form__row label {
  font-size: 12px;
  margin-left: 10px;
  color: #707070;
  font-family: "Open Sans", sans-serif;
}

.display__row {
  height: 30px;
  background-color: #55dfb4;
  display: none;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  border-radius: 6px;
  padding: 6px 20px;
  color: white;
  font-size: 14px;
  line-height: 19px;
  font-family: "Open Sans", sans-serif;
}
.display__row.display__row--total {
  height: 40px;
  margin-top: 14px;
  padding: 9px 20px 9px 15px;
  background-color: #08a6e4;
  width: 50%;
  margin-top: auto;
  margin-left: auto;
  display: flex;
}
.display__row.display__row--total span {
  width: 50%;
}
.display__row.display__row--total .display__price {
  font-size: 20px;
}
.display__row span {
  width: 33.33%;
  display: block;
}
.display__row .display__info {
  text-align: center;
}
.display__row .display__price {
  text-align: right;
  font-weight: bold;
  font-size: 18px;
  font-weight: bold;
}

@media (max-width: 800px) {
  .calc__content {
    flex-direction: column;
  }

  .calc__form {
    width: 100%;
  }

  .calc__display {
    margin: 20px 0;
    width: 100%;
  }
}
.contact {
  display: flex;
  padding: 50px 0;
}

.contact_column {
  width: 50%;
}

.contact_header {
  font-size: 49px;
  line-height: 57px;
  font-family: "Raleway";
  margin-bottom: 22px;
}

.contact_text {
  font-size: 16px;
  line-height: 22px;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 42px;
}

.contact_row {
  display: flex;
}

.contact_email {
  position: relative;
  color: #a5a5a5;
  transform: translate(27px, 0);
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
}
.contact_email::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 27px;
  width: 27px;
  background: url(../assets/mail_icon.svg) center center;
  transform: translate(-120%, -5px);
  margin-left: 2px;
}

.contact_number {
  display: inline-block;
  position: relative;
  color: #a5a5a5;
  transform: translate(27px, 0);
  margin-left: 50px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
}
.contact_number::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 27px;
  width: 27px;
  background: url(../assets/phone_icon.svg) center center;
  transform: translate(-120%, -5px);
  margin-left: 2px;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 10px 0 60px;
}

.form_label {
  color: #07ace6;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 3px;
  font-weight: bold;
}

.form_input {
  border: none;
  margin: 10px 0 5px;
  border-bottom: 1px solid #a5a5a5;
  line-height: 27px;
  margin-bottom: 30px;
}
.form_input:focus {
  outline: none;
}

.form_row {
  display: flex;
}

.form_consent {
  color: #a5a5a5;
  font-size: 12px;
  line-height: 17px;
  font-family: "Open Sans", sans-serif;
}

.form_checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 12px;
  height: 24px;
  width: 24px;
  margin-right: 10px;
  border-radius: 4px;
  border: 1px solid #95989a;
  margin-left: -2px;
  transform: translate(3px, 0);
}
.form_checkbox:checked {
  background: url(../assets/checkmark.svg) center center no-repeat;
  background-size: 12px;
}
.form_checkbox:focus {
  outline: none;
}

.form_submit {
  width: 225px;
  height: 60px;
  border: none;
  background-color: #07ace6;
  border-radius: 35px;
  color: white;
  font-size: 13px;
  line-height: 18px;
  margin-top: 20px;
  margin-left: auto;
  font-weight: bold;
}

@media (max-width: 800px) {
  .contact {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .contact_column {
    width: 100%;
  }

  .contact_row {
    flex-direction: column;
    align-items: flex-start;
  }
  .contact_row .contact_number {
    margin: 20px 0 30px;
  }
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  background: #f7f7f7;
  box-shadow: 0 -5px 40px #00000029;
}

.footer_logo {
  text-decoration: none;
  color: var(--c_blue_lighter);
  font-size: 26px;
  line-height: 30px;
  font-family: "Raleway", sans-serif;
}

.footer_copyright {
  display: block;
  font-size: 11px;
  line-height: 15px;
  color: #a5a5a5;
}

.footer_icon {
  margin: 10px;
}
/*# sourceMappingURL=main.css.map */
