:root {
    --c_redpink: #FB3B64;
    --c_redpink_dark: #EB476E;
    --c_blue: #07ACE6;
    --c_blue_lighter: #07ACE6;
    --c_blue_opaque: #07ACE629;
    --c_green: #55DFB4;
    --c_dark: #13253B;
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
}

.container {
    width: 1124px;
    max-width: 95vw;
    margin: auto;

    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    flex-direction: inherit;
    flex-wrap: inherit;
}

.container.container--wide {
    width: 1352px;
}

.container.container--narrow {
    width: 896px;
}

.navigation {
    position: sticky;
    top: 0;
    left: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    background: white;

    height: 70px;
    z-index: 1;
    box-shadow: 0 3px 6px #00000029;
}

.navigation_logo {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 32px;
    font-weight: 300;
    color: var(--c_blue_lighter);
    line-height: 70px;
}

.navigation_menu {

}

.navigation_list {
    display: flex;
    width: 550px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}


.navigation_link {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 11px;
    text-decoration: none;
    letter-spacing: 3px;
    text-align: center;
    color: #a5a5a5;
    padding: 0 10px;
    position: relative;
    text-transform: uppercase;
}

.navigation_link:hover {
    color: black;
}

.navigation_link:hover::before {
    content: "";
    position: absolute;
    height: 0;
    width: 100%;
    border: 2px solid var(--c_blue);
    transform: translate(-13px, 40px);
}


.opening {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 120px;

    height: calc(100vh - 70px);

    background: url("../assets/Background.png") bottom center no-repeat;
    background-size: contain;
}

.opening_header {
    font-size: 49px;
    line-height: 57px;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

.opening_text {
    display: inline-flex;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 38px;
    font-family: "Open Sans", sans-serif;
}

.opening_button {
    display: inline-block;
    width: 440px;
    height: 67px;
    border-radius: 40px;
    background: var(--c_blue);
    text-align: center;
    line-height: 67px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    box-shadow: 5px 10px 14px #07ACE629;
}

.stats {
    z-index: 99999;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0;
}

.stats_header {
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    font-weight: normal;
    padding-bottom: 100px;
}

.stats_row {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.stats_item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stats_icon {
    height: 63px;
    width: 63px;
    position: relative;
    border-radius: 50%;
}

.stats_item--entries .stats_icon {
    background: var(--c_redpink);
}

.stats_item--entries .stats_icon::after {
    content: "";
    position: absolute;
    width: 63px;
    height: 63px;
    transform: translate(35%, 0);
    background: url("../assets/Person.svg") no-repeat center center;
}

.stats_item--seen .stats_icon {
    background: var(--c_green);
}

.stats_item--seen .stats_icon::after {
    content: "";
    position: absolute;
    width: 63px;
    height: 63px;
    transform: translate(35%, 0);
    background: url("../assets/Eye.svg") no-repeat center center;
}

.stats_item--posts .stats_icon {
    background: var(--c_blue);
}

.stats_item--posts .stats_icon::after {
    content: "";
    position: absolute;
    width: 63px;
    height: 63px;
    transform: translate(35%, 0);
    background: url("../assets/Catalog.svg") no-repeat center center;
}

.stats_number {
    letter-spacing: 6px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 800;
    line-height: 20px;
    padding: 13px 0 19px 0;
}

.stats_description {
    color: grey;
    font-size: 17px;
    font-family: 'Raleway', sans-serif;
    line-height: 20px;
}

.benefits {
    background: #F7F7F7;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 80px 0;
}

.benefits_box {
    margin: 20px 0;
    height: 370px;
    width: 100%;
    background: white;
    /*flex-shrink: 0;*/
    border: 1px solid #E8E9ED;
    border-radius: 5px;
    display: flex;
    padding: 35px;
    position: relative;
    justify-content: space-between;
}

.benefits_box.benefits_box--first {
}

.benefits_box.benefits_box--second {
}

.benefits_box.benefits_box--small {
    width: 55%;
}

.benefits_box.benefits_box--smallest {
    width: 40%;
    background: var(--c_green);
    padding: 100px 80px 60px 60px;
}

.benefits_content {
    width: 415px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.benefits_header {
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    line-height: 42px;
}

.benefits_description {
    font-size: 16px;
    line-height: 20px;
    padding: 30px 0 50px;
    position: relative;
}

.benefits_description::after {
    content: "";
    position: absolute;
    height: 0;
    width: 300px;
    bottom: 0;
    left: 0;
    border-radius: 4px;
}

.benefits_box--first .benefits_description::after {
    border-top: 1px solid var(--c_redpink);
    box-shadow: 0 0 1px 1px var(--c_redpink);
}

.benefits_box--second .benefits_description::after {
    border-top: 1px solid var(--c_blue);
    box-shadow: 0 0 1px 1px var(--c_blue);
}

.benefits_box--small .benefits_description::after {
    border-top: 1px solid var(--c_green);
    box-shadow: 0 0 1px 1px var(--c_green);
}

.benefits_graphics {
    width: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.benefits_image {
    width: 385px;
    z-index: 2;
}

.benefits_image.benefits_image--iphone {
    transform: translate(-25px, 9%);;
}

.benefits_image.benefits_image--trumpet {
    background-image: url("../assets/Trumpet.png");
    background-size: contain;
}

.benefits_square {
    position: absolute;
    top: 0;
    left: 100%;
    height: 200px;
    width: 200px;
    border-radius: 41px;
    background: var(--c_redpink);
    transform: translate(-120%, 20%) matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
}

.benefits_circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 320px;
    height: 320px;
    border-radius: 50%;
    background: var(--c_blue);
    transform: translate(35px, -20px);
}

.benefits_box--second .benefits_image {
    justify-self: flex-start;
}

.pricing {
    padding: 100px 0;
}

.pricing_title {
    text-align: center;
    line-height: 42px;
    font-size: 36px;
    font-family: 'Raleway', sans-serif;
}

.pricing_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pricing_offer {
    height: 460px;
    width: 370px;
    border: 2px solid black;
    margin: 60px 30px;
    border-radius: 18px;
    position: relative;
}

.pricing_offer.pricing_offer--basic {
    border: 2px solid var(--c_redpink);
}

.pricing_offer.pricing_offer--professional {
    height: 500px;
    width: 405px;
    border: 2px solid var(--c_blue);
}

.pricing_offer.pricing_offer--premium {
    border: 2px solid var(--c_green);
}

.pricing_offer--basic {
}

.pricing_offer--professional {
}

.pricing_offer--premium {
}

.pricing_header {
}

.pricing_price {
}

.pricing_features {
}

.pricing_feature {
}

.pricing_button {
    position: absolute;
    content: "Begin";
    top: 100%;
    left: 50%;
    width: 150px;
    height: 50px;
    background: #13253B;
    border-radius: 25px;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    line-height: 50px;
    text-decoration: none;
}

.pricing_offer--basic .pricing_button {
    background: var(--c_redpink);
}

.pricing_offer--professional .pricing_button {
    background: var(--c_blue);
    width: 165px;
}

.pricing_offer--premium .pricing_button {
    background: var(--c_green);
}

.contact {
    display: flex;
}

.contact_column {
    width: 50%;
}

.contact_text {

}

.contact_email {

}

.contact_number {

}

.form {
    display: flex;
    flex-direction: column;
    padding: 60px 0;
}

.form_input {

}

.form_checkbox {

}

.form_submit {

}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    background: #f7f7f7;
    box-shadow: 0 -5px 40px #00000029;
}

.footer_column {

}

.footer_logo {
    text-decoration: none;
    color: var(--c_blue_lighter);
    font-size: 26px;
    line-height: 30px;
    font-family: 'Raleway', sans-serif;
}

.footer_copyright {
    display: block;
    font-size: 11px;
    line-height: 15px;
    color: #a5a5a5;
}

.footer_icon {
    margin: 10px;
}